parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/Functional/app/var
        - wordpress/wp-admin/includes/noop.php
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    scanDirectories:
        - wordpress
